Repository ia-eknorr/ignition-version-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

markdownlint:
  name: Markdown Lint
  entry: markdownlint
  language: system
  args:
  - --config=.markdownlint.json

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint.yml
  - --format=standard

chore: fix formatting errors
  .github/workflows/repo-lint.yml
  README.md
Due: markdownlint, yamllint

chore: update docs with most recent formatting styles
  Branching Strategy.md
  Create a Branch and Push changes.md
  Create a Pull Request.md
  Initialize a Local Repository.md
  README.md
  Workstation Setup.md
Due: markdownlint

chore: update faqs to tips
  Workstation Setup.md
Due: markdownlint

chore: change pr trigger to opened
  .github/workflows/repo-lint.yml
Due: yamllint

feat: update workflow to public
  .github/workflows/repo-lint.yml
Due: yamllint

docs: add precommit blurb to readme
  README.md
Due: markdownlint

Eknorr/format updates (#10)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/repo-lint.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .yamllint.yml
  Branching Strategy.md
  Create a Branch and Push changes.md
  Create a Pull Request.md
  Initialize a Local Repository.md
  README.md
  Workstation Setup.md
Due: markdownlint, yamllint

feat: initial setup steps (#7)
  Set Up WSL.md
Due: markdownlint

test: update one to make sure checks work properly
  Set Up WSL.md
Due: markdownlint

test: workflow function
  .github/workflows/repo-lint.yml
Due: yamllint

test: add yaml issue to workflow to test function
  .github/workflows/repo-lint.yml
Due: yamllint

test: update workflow to test
  .github/workflows/repo-lint.yml
Due: yamllint

test: update workflow to test
  .github/workflows/repo-lint.yml
  .pre-commit-config.yaml
  bad.yml
Due: yamllint

test: make sure everything works
  .github/workflows/repo-lint.yml
  .pre-commit-config.yaml
  badAgain.yaml
Due: yamllint

chore: remove test files and fix yamllint issues
  .github/workflows/repo-lint.yml
  bad.yml
  badAgain.yaml
Due: yamllint

chore: update structure to match rest of repo
  Set Up WSL.md
Due: markdownlint

Fix formatting and typos in "Merge a Pull Request.md"
  Merge a Pull Request.md
Due: markdownlint

Add a 'Next..' link from the prevuious page
  Create a Pull Request.md
Due: markdownlint

Add 'Merge a pull request' section (#9)
  Create a Pull Request.md
  Merge a Pull Request.md
  README.md
  images/merge-history.png
  images/ways-to-merge-pr.png
Due: markdownlint

chore: fix markdown lint issue (needed to upgrade on local machine)
  Create a Branch and Push changes.md
Due: markdownlint

chore: fix another markdown issue
  Merge a Pull Request.md
Due: markdownlint

Update WSL doc formatting (#11)
  .github/workflows/repo-lint.yml
  Create a Branch and Push changes.md
  Merge a Pull Request.md
  Set Up WSL.md
Due: markdownlint, yamllint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
